.logo {
  color: #e53e3e;
  font-size: 2rem;

  strong {
    color: #eeeef2;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1064px;
  width: 100%;

  margin: 0 auto;
  padding: 24px 20px;
}

.content {
  max-width: 1064px;
  width: 100%;

  margin: 0 auto;
  padding: 24px 20px;

  article {
    display: flex;
    flex-direction: column;

    a {
      font-size: 1.25rem;
      text-decoration: none;
    }

    a:visited {
      color: #7c7c8a;
    }

    span {
      font-size: 0.7rem;
      color: #eeeef2;

      strong {
        color: #e53e3e;
      }
    }
  }

  article + article {
    margin-top: 16px;
  }
}
