.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1064px;
  width: 100%;

  margin: 0 auto;
  padding: 24px 20px;
}

.logo {
  color: #e53e3e;
  font-size: 2rem;

  strong {
    color: #eeeef2;
  }
}